*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculater{
    width: 100x;
    background-color: rgb(2, 16, 18);
    border-radius: 10px;
    padding: 10px;
}
.calculater form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* margin :10px; */
    border: 1px solid rgb(12, 159, 159);
}
form #display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form #display input{
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-sizing: none;
    border: 1px solid rgb(7, 145, 131);
}
form input.equal{
    width: 145px;
}
form input.operater{
    color: #ffeee6f3;
}